# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with ?   	github.com/redpandacoding/goUp	[no test files]
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
